Purpose:
Predict if a person will default their credit card next month

In [26]:
import pandas as pd
# windows file path
df=pd.read_csv('D:/Dropbox/GitHub/Credit Card Default Prediction/UCI_Credit_Card.csv')
# mac file path
# df=pd.read_csv('/Users/jiahuali1991/Dropbox/Machine Learning/Data/Credit Default/UCI_Credit_Card.csv')
df.sample(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
4852,4853,60000.0,2,3,2,23,1,2,0,0,...,6000.0,7568.0,7568.0,0.0,1050.0,0.0,1568.0,0.0,6729.0,1
1269,1270,180000.0,2,2,2,32,0,0,0,0,...,31057.0,29052.0,25933.0,1582.0,30000.0,1000.0,1000.0,1000.0,1000.0,0
20568,20569,20000.0,1,2,2,28,2,2,0,0,...,8585.0,8760.0,12000.0,0.0,1202.0,1000.0,175.0,3240.0,0.0,1
6869,6870,210000.0,1,1,2,38,0,0,0,0,...,75528.0,72567.0,69502.0,107651.0,2861.0,2388.0,3000.0,3000.0,2500.0,0
13294,13295,280000.0,2,1,2,26,0,0,0,0,...,36594.0,37010.0,36334.0,1700.0,1600.0,1300.0,1500.0,2000.0,99334.0,0

In [27]:
# rename two columns
df=df.rename(columns={'default.payment.next.month':'def_pay','PAY_0':'PAY_1'})
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'def_pay'],
      dtype='object')

# dealing with categorical variables

In [28]:
# categorical variables description
df[['SEX','EDUCATION','MARRIAGE']].describe()

                SEX     EDUCATION      MARRIAGE
count  30000.000000  30000.000000  30000.000000
mean       1.603733      1.853133      1.551867
std        0.489129      0.790349      0.521970
min        1.000000      0.000000      0.000000
25%        1.000000      1.000000      1.000000
50%        2.000000      2.000000      2.000000
75%        2.000000      2.000000      2.000000
max        2.000000      6.000000      3.000000

In [29]:
# SEX: replace 1 with male and 2 with female
df['SEX'] = df['SEX'].replace(1,'male').replace(2,'female')
df['SEX'].value_counts(dropna=False)

female    18112
male      11888
Name: SEX, dtype: int64

In [30]:
# EDUCATION: 
df['EDUCATION'] = df['EDUCATION'].replace(0,5).replace(6,5).replace(1,'graduate school').replace(2,'university').replace(3,'high school').replace(4,'others').replace(5,'unknown')
df['EDUCATION'].value_counts(dropna=False)

university         14030
graduate school    10585
high school         4917
unknown              345
others               123
Name: EDUCATION, dtype: int64

In [31]:
df['SEX'] = df['SEX'].replace(1,'male').replace(2,'female')
df['SEX'].value_counts(dropna=False)

female    18112
male      11888
Name: SEX, dtype: int64

In [32]:
# MARRIAGE
df['MARRIAGE'] = df['MARRIAGE'].replace(0,3).replace(1,'married').replace(2,'single').replace(3,'others')
df['MARRIAGE'].value_counts(dropna=False)

single     15964
married    13659
others       377
Name: MARRIAGE, dtype: int64

In [33]:
# Calculate default rate
df.def_pay.sum()/len(df.def_pay)

0.2212

In [34]:
# prepare X and y for machine learning
y=df['def_pay'].copy()
print(y.sample(5))
X = df.drop(['def_pay','ID'],axis=1)
print(X.columns)

1656     1
13925    1
10004    0
9430     0
2725     0
Name: def_pay, dtype: int64
Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [35]:
'''# can select the individual columns 
features=['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
       
X = df[features].copy()'''

"# can select the individual columns \nfeatures=['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',\n       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',\n       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',\n       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']\n       \nX = df[features].copy()"

In [36]:
# split data into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler


#categorical_cols = ['SEX', 'EDUCATION', 'MARRIGE']
#numerical_cols = ['LIMIT_BAL', 'AGE', 'PAY_1',
#       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
#       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
#       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

# we can achive the same goal by 
# determine categorical and numerical features
numerical_cols = X.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = X.select_dtypes(include=['object', 'bool']).columns


# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('standardize', StandardScaler())])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])


# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Decision Tree Classifier

In [39]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import f1_score
from scipy.stats import randint

param_dist = {"max_depth": randint(1, 200),
              "max_features": randint(1, 200),
              "min_samples_leaf": randint(1, 200),
              "criterion": ["gini", "entropy"]}

tree_cv = RandomizedSearchCV(DecisionTreeClassifier(),param_dist,cv=5,scoring='f1',n_jobs=-1, verbose=5,n_iter=5000)



# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('grid_search', tree_cv)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Print the tuned parameters and score
print("Tuned Decision Tree Parameters: {}".format(tree_cv.best_params_))
print("Best score is {}".format(tree_cv.best_score_))

# save grid search cross validation results to file
results = pd.DataFrame(tree_cv.cv_results_)
results.to_csv('credit default decision tree random search result.csv',index=False)
print('random search cross validation results saved')

Fitting 5 folds for each of 5000 candidates, totalling 25000 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 800 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done 1808 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done 3104 tasks      | elapsed:   19.3s
[Parallel(n_jobs=-1)]: Done 4688 tasks      | elapsed:   29.8s
[Parallel(n_jobs=-1)]: Done 6560 tasks      | elapsed:   42.0s
[Parallel(n_jobs=-1)]: Done 8720 tasks      | elapsed:   54.0s
[Parallel(n_jobs=-1)]: Done 11168 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 13904 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 16928 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 20240 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 23840 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 25000 out of 25000 | elapsed:  2.5min finished

Tuned Decision Tree Parameters: {'criterion': 'entropy', 'max_depth': 28, 'max_features': 25, 'min_samples_leaf': 100}
Best score is 0.4877856960967851
random search cross validation results saved

In [40]:
# use the best hyper parameters to build the model
decision_tree_clf = tree_cv.best_estimator_

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('clf', decision_tree_clf)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)
y_train_pred = my_pipeline.predict(X_train)
y_pred = my_pipeline.predict(X_test)

from sklearn.metrics import accuracy_score
print('training set model accuracy = ', accuracy_score(y_train, y_train_pred))

from sklearn.metrics import f1_score
print('training set model f1 score = ', f1_score(y_train, y_train_pred))

from sklearn.metrics import accuracy_score
print('testing set model accuracy = ', accuracy_score(y_test, y_pred))

from sklearn.metrics import f1_score
print('testing set model f1 score = ', f1_score(y_test, y_pred))


from sklearn.metrics import classification_report
print('testing set model classification report : \n ', classification_report(y_test, y_pred))

training set model accuracy =  0.8233809523809524
training set model f1 score =  0.5010090138571236
testing set model accuracy =  0.8154444444444444
testing set model f1 score =  0.45913383262780855
testing set model classification report :
                precision    recall  f1-score   support

           0       0.84      0.94      0.89      7040
           1       0.63      0.36      0.46      1960

    accuracy                           0.82      9000
   macro avg       0.74      0.65      0.67      9000
weighted avg       0.80      0.82      0.80      9000